.vscode
.idea

node_modules

# dotenv environment variables file
.env

# next.js build output
.next

.npmrc

build/

coverage/

yarn-error.log
/.yarn/cache
/.yarn/versions
/.yarn/build-state.yml
/.yarn/install-state.gz

.DS_Store

custom-node-metadata.json
